.idea
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
/bin/
/libs/jsoncpp/
/libs/googletest-*/
/libs/boost_*/
/libs/opencv-*/
/libs/opencv_contrib-*/
/libs/Simple-Web-Server-*/