.idea
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
/libs/jsoncpp/
/libs/sws/
/libs/googletest/
/libs/boost_*/
/libs/opencv-*/
/libs/opencv_contrib-*/