language: cpp
sudo: required
compiler:
- clang
- gcc
os:
- linux
before_install:
- echo $LANG
- echo $LC_ALL
- if [ $TRAVIS_OS_NAME == linux ]; then ./scripts/llvm.sh; fi
- mkdir -p build/debug
- cd build/debug
- cmake -config Debug ../..
install: make cmake
script:
- make
